<section class="section">
  <h2 class="title is-2">Created events</h1>
  <%= render 'events/created_event_details' %>
</section>
<section class="section">
  <h2 class="title is-2">Attending (future)</h1>
  <%= render 'events/attending_events' %>
</section>
<section class="section">
  <h2 class="title is-2">Attended (past)</h1>
  <%= render 'events/attended_events' %>
</section>
