<div class="content">
  <h1><%= @user.username %></h1>
  <h2>Created</h2>
  <%= render 'events/created_event_details' %>

  <h2>Attending (upcoming)</h2>
  <%= render 'events/attending_events' %>

  <h2>Attended (past)</h2>
  <%= render 'events/attended_events' %>
</div>