<% @user.attended_events.future.each do |event| %>
  <ul>
    <li><%= link_to event.title, event_path(event) %></li>
    <ul>
      <li><%= event.description %></li>
      <li><%= event.date %></li>
      <li><%= event.location %></li>
    </ul>
  </ul>
<% end %>