<div class="column is-two-thirds">
  <% if @user.rsvps.past.none? %>
    <article class="card block">
      <p class="card-content">No events found!</p>
    </article>
  <% else %>
    <% @user.rsvps.past.each do |rsvp| %>
      <% event = rsvp.attended_event %>
      <article class="card block">
        <div class="card-header">
          <div class="card-header-title">
            <div class="container">
              <p class="title is-4"><%= link_to event.title, event_path(event) %></p>
              <p class="subtitle is-6"><%= event.date.strftime("%D") %> | <%= event.location %></p>
            </div>
          </div>
        </div>
      </article>
    <% end %>
  <% end %>
</div>