<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>

<% @events.each do |event| %>
  <ul>
    <li><%= event.title %></li>
    <ul>
      <li><%= event.description %></li>
      <li><%= event.location %></li>
      <li><%= event.date %></li>
    </ul>
  </ul>
<% end %>
